flask==2.2.3
python-dotenv==1.0.0
groq==0.13.1
pillow==9.5.0            # Para manipulação de imagens
pytesseract==0.3.10      # OCR para extrair texto de imagens
nltk==3.8.1              # Processamento de linguagem natural
